 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The North America Region Science Team is funded primarily on soft money, and is built to provide flexible capacity for evolving regional and global priorities. </p>
                </div>
                <div class="col-lg-4">
                    <p>In addition to providing science and data management for the organization, we develop web mapping tools and websites, cartography, and data visualization.</p>
                </div>
            </div>
        </div>
    </section>