
    <!-- Portfolio Grid Section -->
    <section id="maps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Cartography</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for map in site.maps %}
                    <div class="col-sm-3 portfolio-item">
                        <a href="#portfolioModal-{{ map.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/maps/{{ map.img }}" class="img-responsive" alt="{{ map.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>